html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.four_up::after {
  clear: both;
  content: "";
  display: table; }

.four_up-part {
  margin-top: 3.75rem; }
  @media screen and (min-width: 600px) {
    .four_up-part {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      margin-top: 0; }
      .four_up-part:last-child {
        margin-right: 0; } }
  .four_up-part .hex_icon {
    margin: 0 auto 2rem auto; }
  .four_up-part .icon-container {
    margin-bottom: 1rem; }

.section-content + .four_up {
  margin-top: 3rem; }
