html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.billboard {
  margin-top: 0; }
  @media screen and (min-width: 600px) {
    .billboard {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      float: none;
      margin-left: auto;
      margin-right: auto; }
      .billboard:last-child {
        margin-right: 0; }
      .billboard:last-child {
        margin-right: auto; } }

.billboard-display_text {
  font-size: 2.6rem;
  line-height: 2.8rem; }
  @media screen and (min-width: 600px) {
    .billboard-display_text {
      font-size: 4.5rem;
      line-height: 4.875rem; } }
  .billboard-display_text + .billboard-second_text {
    margin-top: 1.1rem; }

.billboard-second_text {
  font-size: 1.8rem;
  line-height: 2.2rem; }
  @media screen and (min-width: 600px) {
    .billboard-second_text {
      font-size: 2.125rem;
      line-height: 2.4375rem; } }
